@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-dark:rgba(255,255,255,0);
}
body{
  font-family:Roboto Condensed sans-serif;
}

/*-------- Navbar css---------------*/
nav{
  z-index:2;
}
.logo{
  width: 250;
  height: 90px;
}
/*.... nav link css....*/
nav a.nav-link{
letter-spacing:0.0375rem;
cursor: pointer;
}

nav ul li {
  text-transform:uppercase;
}

.navbar-nav >li >a{
  color:white!important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 3px solid var(--primary-dark);
}
.navbar-brand{
  max-width: 17.23rem;
  padding:0px !important;
  height: 6rem !important;
}
@media(max-width:768px){
  .navbar-brand{
    width: 7rem;
  }
}

.navbar-nav >li >a:active , .navbar-nav >li >a:active:focus{
  border-top: 3px solid orange;
}
.navbar-nav > li>a:hover{
  border-top: 3px solid orange;
}

@media(max-width:768px){
  .navbar-nav >li >a:active, .navbar-nav>li>a:active:focus{
    border-bottom: 3px solid orange;
  }
  .navbar-nav>li>a:hover{
    border-bottom: 3px solid orange;
  }
}
/*-----------Header css---------------*/
.header-wrapper {
  position:relative;
  background:url(header.jpg) no-repeat;
  background-size:cover;
  background-position:center;
  height:90vh;

}

.main-info{
  display:flex;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align: center;
  font-family:Roboto Condensed sans-serif;
  color:white;
  text-transform:uppercase;
  z-index: 1;
}

/* ------- typed text-----------*/
.typed-text{
  font-size:2rem;
  color:white;
}
@media(max-width: 768px){
  .main-info{
    font-size: 1.5rem !important;
  }
  .typed-text{
    font-size:1.3rem !important;
  }
}
/* ------- typed text-----------*/
.btn-main-offer{
  border: 1px solid red;
  text-transform: uppercase;
  border-radius: 0px;
  padding: 12px;
  color:white;
  margin:2rem;
  border-radius: 2px;
}
.btn-main-offer:hover{
  text-decoration: none;
  background-color:red;
  transition:.2s ease-in-out;
}

/*---------- particles css-------*/
.tsparticles-canvas-el{
  position:absolute;
  height: 100vh;
  width: 100vh;
  z-index:1;
}
@media(max-width:768px)
{
  .particles-canvas{
    display:none;
  }
}